<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label position="floating">OTP (check email)</ion-label>
		<ion-input inputmode="text" required="true"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Password</ion-label>
		<ion-input required="true" type="password"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Retype Password</ion-label>
		<ion-input required="true" type="password"></ion-input>
	</ion-item>

	<div class="ion-padding">
		<ion-button color="primary" type="submit" class="ion-no-margin" expand="full" >Reset</ion-button>
	</div>

</ion-content>
