<ion-header>
  <ion-toolbar>
    <ion-title>Lecture Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="ion-padding">
		<ion-button color="primary" type="submit" class="ion-no-margin" >Check In (QR Code)</ion-button>
		<ion-button color="primary" type="submit" class="ion-no-margin" >Check In (GPS)</ion-button>
	</div>

</ion-content>
