<ion-header>
	<ion-toolbar>
		<ion-title>Login</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label position="floating">Student ID</ion-label>
		<ion-input inputmode="text" required="true"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label position="floating">Password</ion-label>
		<ion-input required="true" type="password"></ion-input>
	</ion-item>

	<ion-item>
		<a href="sign-up">Sign Up</a> &nbsp; <a href="forgot-password">Forgot Password?</a>
	</ion-item>


	<div class="ion-padding">
		<!-- <ion-button expand="block" type="submit" class="ion-no-margin">Create account</ion-button> -->
		<ion-button color="primary" type="submit" class="ion-no-margin" expand="full" >Login</ion-button>
	</div>

</ion-content>
