<ion-header>
	<ion-toolbar>
		<ion-title>Sign Up</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label position="floating">Name</ion-label>
		<ion-input inputmode="text" required="true"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Student ID</ion-label>
		<ion-input inputmode="text" required="true"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Email</ion-label>
		<ion-input inputmode="text" required="true"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Phone</ion-label>
		<ion-input inputmode="text" required="true"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label>Gender</ion-label>
		<ion-select placeholder="Select One">
			<ion-select-option value="Female">Female</ion-select-option>
			<ion-select-option value="Male">Male</ion-select-option>
		</ion-select>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Address</ion-label>
		<ion-input inputmode="text" required="true"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Password</ion-label>
		<ion-input required="true" type="password"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Retype Password</ion-label>
		<ion-input required="true" type="password"></ion-input>
	</ion-item>

	<div class="ion-padding">
		<ion-button color="primary" type="submit" class="ion-no-margin" expand="full" >Sign Up</ion-button>
	</div>

</ion-content>
