<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label position="floating">Student ID</ion-label>
		<ion-input inputmode="text" required="true"></ion-input>
	</ion-item>

	<div class="ion-padding">
		<ion-button color="primary" type="submit" class="ion-no-margin" expand="full" >Submit</ion-button>
	</div>

</ion-content>
